@charset "UTF-8";
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Italic";
  src: url("../fonts/Montserrat/Montserrat-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}
footer .copyright-wrapper p, .menu-wrapper .select-wrapper .select-lang-wrapper::before,
.menu-wrapper .select-wrapper .select-currency-wrapper::before {
  font-family: "Montserrat-Regular", sans-serif;
  font-weight: 400;
}

.menu-wrapper ul li a, header .search-wrapper .search-field, .transparent-btn, .ghost-btn, .primary-btn {
  font-family: "Montserrat-Medium", sans-serif;
  font-weight: 500;
}

.menu-btn {
  width: 36px;
  height: 36px;
  padding: 10px;
  background-color: transparent;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.2s;
}

.primary-btn {
  font-size: 1rem;
  line-height: 36px;
  height: 36px;
  border: 0;
  border-radius: 2px;
  padding: 0 25px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
}

.ghost-btn {
  font-size: 1rem;
  line-height: 32px;
  height: 36px;
  background-color: transparent;
  border-radius: 2px;
  padding: 0 25px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
}

.transparent-btn {
  font-size: 1rem;
  line-height: 36px;
  height: 36px;
  background-color: transparent;
  border: 0;
  border-radius: 2px;
  padding: 0 10px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
}

html {
  font-size: 14px;
}

body {
  background-color: #F0F1F5;
}

header, footer {
  width: 100%;
  height: 50px;
  background-color: #112233;
  display: flex;
  align-items: center;
}
header div, footer div {
  height: 36px;
}

header {
  position: fixed;
  padding: 0 25px;
  border-bottom: 1px solid rgba(240, 241, 245, 0.1);
}
header div {
  margin: 0 25px;
}
header form {
  display: inline-flex;
  width: 100%;
}
header .menu-btn-wrapper .menu-btn:hover {
  background-color: rgba(240, 241, 245, 0.2);
}
header .menu-btn-wrapper .menu-btn hr {
  width: 100%;
  height: 2px;
  background-color: #F0F1F5;
  margin: 0;
  border: 0;
  border-radius: 2px;
}
header .logo-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
header .logo-wrapper a {
  width: 56px;
}
header .logo-wrapper a img {
  height: 36px;
  width: 56px;
}
header .search-wrapper {
  display: inline-flex;
  align-items: center;
  flex: 1 1 200px;
}
header .search-wrapper .search-field {
  font-size: 1rem;
  line-height: 36px;
  color: #112233;
  height: 36px;
  width: calc(100% - 36px);
  background-color: #DADCE2;
  border: 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0 10px;
  display: inline-flex;
}
header .search-wrapper .search-field::placeholder {
  color: #808993;
}
header .search-wrapper .search-btn {
  width: 36px;
  height: 36px;
  background-color: #DADCE2;
  border: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 10px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}
header .search-wrapper .search-btn:hover {
  background-color: #F0F1F5;
}
header .public-btns-wrapper {
  display: inline-flex;
}
header .public-btns-wrapper .pub-idea-btn {
  color: #F0F1F5;
  background-color: rgba(252, 87, 94, 0.5);
  margin-right: 10px;
}
header .public-btns-wrapper .pub-idea-btn:hover {
  background-color: rgba(252, 87, 94, 0.7);
}
header .public-btns-wrapper .pub-problem-btn {
  color: #F0F1F5;
  background-color: rgba(68, 187, 255, 0.5);
}
header .public-btns-wrapper .pub-problem-btn:hover {
  background-color: rgba(68, 187, 255, 0.7);
}
header .sign-btns-wrapper {
  display: inline-flex;
}
header .sign-btns-wrapper .signin-btn {
  color: #F0F1F5;
  margin-right: 10px;
}
header .sign-btns-wrapper .signin-btn:hover {
  background-color: rgba(240, 241, 245, 0.2);
}
header .sign-btns-wrapper .signup-btn {
  color: #66CC99;
}
header .sign-btns-wrapper .signup-btn:hover {
  background-color: rgba(240, 241, 245, 0.2);
}

.menu-wrapper {
  height: calc(100vh - 50px);
  padding: 10px 0;
  position: fixed;
  top: 50px;
  left: 0;
  background-color: #112233;
  transition: 0.2s;
  transform: translateX(-100%);
}
.menu-wrapper ul li a {
  font-size: 1rem;
  line-height: 50px;
  color: #F0F1F5;
  width: 100%;
  height: 50px;
  padding: 0 50px;
  transition: 0.2s;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.menu-wrapper ul li a:hover {
  background-color: rgba(240, 241, 245, 0.2);
}
.menu-wrapper ul li a:focus {
  background-color: #F0F1F5;
  color: #112233;
}
.menu-wrapper ul li a img {
  height: 36px;
  width: 36px;
  padding: 10px;
}
.menu-wrapper .select-wrapper {
  margin: 50px;
  padding: 0 10px;
  display: flex;
}
.menu-wrapper .select-wrapper div {
  position: relative;
}
.menu-wrapper .select-wrapper div select {
  border: 2px solid #808993;
  color: #F0F1F5;
  padding: 0 10px;
}
.menu-wrapper .select-wrapper div select:hover {
  border-color: rgba(240, 241, 245, 0.7);
}
.menu-wrapper .select-wrapper div select option {
  background-color: #808993;
  color: #112233;
}
.menu-wrapper .select-wrapper .select-lang-wrapper::before,
.menu-wrapper .select-wrapper .select-currency-wrapper::before {
  font-size: 0.8rem;
  line-height: 1rem;
  color: #DADCE2;
  height: 1rem;
  background-color: #112233;
  padding: 0 0.5rem;
  position: absolute;
  top: -0.5rem;
  left: calc(12px - 0.5rem);
}
.menu-wrapper .select-wrapper .select-lang-wrapper {
  margin-right: 10px;
}
.menu-wrapper .select-wrapper .select-lang-wrapper::before {
  content: "Язык";
}
.menu-wrapper .select-wrapper .select-currency-wrapper::before {
  content: "Валюта";
}

.menu-active {
  transform: translateX(0%);
}

main {
  min-height: calc(100vh - 50px);
  width: 100%;
  padding: 100px 50px 50px;
}

footer {
  border-top: 1px solid rgba(240, 241, 245, 0.1);
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 999;
}
footer .rules-wrapper {
  display: inline-flex;
}
footer .rules-wrapper a {
  color: #44BBFF;
  margin-right: 10px;
}
footer .rules-wrapper a:hover {
  background-color: rgba(240, 241, 245, 0.2);
}
footer .copyright-wrapper {
  display: inline-flex;
}
footer .copyright-wrapper p {
  font-size: 1rem;
  line-height: 36px;
  color: rgba(240, 241, 245, 0.5);
}
footer .social-wrapper {
  display: inline-flex;
}
footer .social-wrapper a {
  width: 36px;
  height: 36px;
  padding: 10px;
  margin-left: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
footer .social-wrapper a:hover {
  background-color: rgba(240, 241, 245, 0.2);
}

/*# sourceMappingURL=styles.css.map */
