@charset "UTF-8";
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Italic";
  src: url("../fonts/Montserrat/Montserrat-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}
footer .copyright-wrapper p, .menu-wrapper .select-wrapper .select-lang-wrapper::before,
.menu-wrapper .select-wrapper .select-currency-wrapper::before, header .search-wrapper form .search-autocomplete-wrapper ul li span {
  font-family: "Montserrat-Regular", sans-serif;
  font-weight: 400;
}

.menu-wrapper ul li a, header .user-btns-wrapper .user-messages-btn::after,
header .user-btns-wrapper .user-notifications-btn::after, header .search-wrapper form .search-autocomplete-wrapper ul li, header .search-wrapper form .search-field, .transparent-btn, .ghost-btn, .primary-btn {
  font-family: "Montserrat-Medium", sans-serif;
  font-weight: 500;
}

.transparent-btn, .ghost-btn, .primary-btn, .ico-btn {
  height: 36px;
  border-radius: 2px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.15s;
}

.transparent-btn, .ghost-btn, .primary-btn {
  font-size: 1rem;
  line-height: 36px;
}

.ico-btn {
  width: 36px;
  border: 0;
  padding: 8px;
  background-color: transparent;
}

.primary-btn {
  border: 0;
  padding: 0 25px;
}

.ghost-btn {
  padding: 0 25px;
  background-color: transparent;
}

.transparent-btn {
  border: 0;
  padding: 0 8px;
  background-color: transparent;
}

html {
  font-size: 14px;
}

body {
  background-color: #F0F1F5;
}

header, footer {
  width: 100%;
  height: 50px;
  background-color: #112233;
  display: flex;
  align-items: center;
}
header div, footer div {
  height: 36px;
}

header {
  position: fixed;
  padding: 0 25px;
  border-bottom: 1px solid rgba(240, 241, 245, 0.2);
}
header div {
  margin: 0 25px;
}
header form {
  display: inline-flex;
  width: 100%;
}
header .burger-btn-wrapper .burger-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header .burger-btn-wrapper .burger-btn:hover {
  background-color: rgba(240, 241, 245, 0.2);
}
header .burger-btn-wrapper .burger-btn hr {
  width: 100%;
  height: 2px;
  background-color: #F0F1F5;
  margin: 0;
  border: 0;
  border-radius: 2px;
}
header .logo-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
header .logo-wrapper a {
  width: 56px;
}
header .logo-wrapper a img {
  height: 36px;
  width: 56px;
}
header .search-wrapper {
  display: inline-flex;
  align-items: center;
  flex: 1 1 200px;
  position: relative;
}
header .search-wrapper form .search-field {
  font-size: 1rem;
  line-height: 36px;
  color: #112233;
  height: 36px;
  width: calc(100% - 36px);
  background-color: #DADCE2;
  border: 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0 8px;
  display: inline-flex;
}
header .search-wrapper form .search-field::placeholder {
  color: #808993;
}
header .search-wrapper form .search-field:focus + .search-autocomplete-wrapper {
  opacity: 1;
  height: auto;
}
header .search-wrapper form .search-field::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1rem;
  width: 1rem;
  background: url("../img/cross-ico.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
header .search-wrapper form .search-btn {
  width: 36px;
  height: 36px;
  background-color: #DADCE2;
  border: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 8px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.15s;
}
header .search-wrapper form .search-btn:hover {
  background-color: #F0F1F5;
}
header .search-wrapper form .search-autocomplete-hidden {
  opacity: 0 !important;
  height: 0 !important;
}
header .search-wrapper form .search-autocomplete-wrapper {
  background-color: #112233;
  border-width: 0 1px 1px;
  border-color: rgba(240, 241, 245, 0.2);
  border-style: solid;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  margin: 0;
  position: absolute;
  top: 43px;
  transition: 0.15s;
  opacity: 0;
  height: 0;
  width: 100%;
  padding: 8px 0;
}
header .search-wrapper form .search-autocomplete-wrapper ul {
  margin: 0;
}
header .search-wrapper form .search-autocomplete-wrapper ul li {
  font-size: 1rem;
  line-height: 2rem;
  color: #F0F1F5;
  padding: 0 7px;
  transition: 0.15s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
header .search-wrapper form .search-autocomplete-wrapper ul li:hover {
  background-color: rgba(240, 241, 245, 0.2);
}
header .search-wrapper form .search-autocomplete-wrapper ul li span {
  color: #DADCE2;
}
header .public-btns-wrapper {
  display: inline-flex;
}
header .public-btns-wrapper .pub-idea-btn {
  color: #F0F1F5;
  background-color: rgba(252, 87, 94, 0.5);
  margin-right: 10px;
}
header .public-btns-wrapper .pub-idea-btn:hover {
  background-color: rgba(252, 87, 94, 0.7);
}
header .public-btns-wrapper .pub-problem-btn {
  color: #F0F1F5;
  background-color: rgba(68, 187, 255, 0.5);
}
header .public-btns-wrapper .pub-problem-btn:hover {
  background-color: rgba(68, 187, 255, 0.7);
}
header .sign-btns-wrapper {
  display: inline-flex;
}
header .sign-btns-wrapper .signin-btn {
  color: #F0F1F5;
  margin-right: 10px;
}
header .sign-btns-wrapper .signin-btn:hover {
  background-color: rgba(240, 241, 245, 0.2);
}
header .sign-btns-wrapper .signup-btn {
  color: #66CC99;
}
header .sign-btns-wrapper .signup-btn:hover {
  background-color: rgba(240, 241, 245, 0.2);
}
header .user-btns-wrapper {
  display: inline-flex;
  position: relative;
}
header .user-btns-wrapper .user-btn {
  height: 36px;
  width: 36px;
  background: url("../img/user-photo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 2px solid rgba(240, 241, 245, 0.5);
  border-radius: 36px;
  margin: 0 8px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.15s;
}
header .user-btns-wrapper .user-btn:hover {
  border-color: rgba(240, 241, 245, 0.7);
}
header .user-btns-wrapper .user-messages-btn,
header .user-btns-wrapper .user-notifications-btn {
  margin-right: 20px;
}
header .user-btns-wrapper .user-messages-btn:hover,
header .user-btns-wrapper .user-notifications-btn:hover {
  background-color: rgba(240, 241, 245, 0.2);
}
header .user-btns-wrapper .user-messages-btn::after,
header .user-btns-wrapper .user-notifications-btn::after {
  height: 18px;
  min-width: 18px;
  font-size: 0.8rem;
  line-height: 14px;
  color: #112233;
  background-color: #FC575E;
  border: 2px solid #112233;
  border-radius: 9px;
  padding: 0 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -1px;
}
header .user-btns-wrapper .user-messages-btn::after {
  content: "99+";
  left: 18px;
}
header .user-btns-wrapper .user-notifications-btn::after {
  content: "99+";
  left: 74px;
}

.menu-wrapper {
  height: calc(100vh - 50px);
  padding: 8px 0;
  position: fixed;
  top: 50px;
  left: 0;
  background-color: #112233;
  transition: 0.15s;
  transform: translateX(-100%);
  overflow: auto;
  border-right: 1px solid rgba(240, 241, 245, 0.2);
}
.menu-wrapper ul li a {
  font-size: 1rem;
  line-height: 50px;
  color: #F0F1F5;
  width: 100%;
  height: 50px;
  padding: 0 50px;
  transition: 0.15s;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.menu-wrapper ul li a:hover {
  background-color: rgba(240, 241, 245, 0.2);
}
.menu-wrapper ul li a:focus {
  background-color: #F0F1F5;
  color: #112233;
}
.menu-wrapper ul li a img {
  height: 36px;
  width: 36px;
  padding: 8px;
}
.menu-wrapper ul .menu-user-btn a .menu-user-photo {
  height: 20px;
  width: 20px;
  background: url("../img/user-photo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 2px solid #808993;
  border-radius: 36px;
  margin: 0 8px;
}
.menu-wrapper .select-wrapper {
  margin: 50px;
  padding: 0 8px;
  display: flex;
}
.menu-wrapper .select-wrapper div {
  position: relative;
}
.menu-wrapper .select-wrapper div select {
  border: 2px solid #808993;
  color: #F0F1F5;
  padding: 0 8px;
}
.menu-wrapper .select-wrapper div select:hover {
  border-color: rgba(240, 241, 245, 0.7);
}
.menu-wrapper .select-wrapper div select option {
  background-color: #808993;
  color: #112233;
}
.menu-wrapper .select-wrapper .select-lang-wrapper::before,
.menu-wrapper .select-wrapper .select-currency-wrapper::before {
  font-size: 0.8rem;
  line-height: 1rem;
  color: #DADCE2;
  height: 1rem;
  background-color: #112233;
  padding: 0 5px;
  position: absolute;
  top: -0.5rem;
  left: 5px;
}
.menu-wrapper .select-wrapper .select-lang-wrapper {
  margin-right: 10px;
}
.menu-wrapper .select-wrapper .select-lang-wrapper::before {
  content: "Язык";
}
.menu-wrapper .select-wrapper .select-currency-wrapper::before {
  content: "Валюта";
}

.menu-active {
  transform: translateX(0%);
}

main {
  min-height: calc(100vh - 50px);
  width: 100%;
  padding: 100px 50px 50px;
}

footer {
  border-top: 1px solid rgba(240, 241, 245, 0.2);
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 999;
}
footer .rules-wrapper {
  display: inline-flex;
}
footer .rules-wrapper a {
  color: #44BBFF;
  margin-right: 10px;
}
footer .rules-wrapper a:hover {
  background-color: rgba(240, 241, 245, 0.2);
}
footer .copyright-wrapper {
  display: inline-flex;
}
footer .copyright-wrapper p {
  font-size: 1rem;
  line-height: 36px;
  color: rgba(240, 241, 245, 0.5);
}
footer .social-wrapper {
  display: inline-flex;
}
footer .social-wrapper a {
  margin-left: 10px;
}
footer .social-wrapper a:hover {
  background-color: rgba(240, 241, 245, 0.2);
}

/*# sourceMappingURL=styles.css.map */
