@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-Italic';
  src: url('../fonts/Montserrat/Montserrat-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}

%font-regular {
	font-family: "Montserrat-Regular", sans-serif;
	font-weight: 400;
}

%font-italic {
	font-family: "Montserrat-Italic", sans-serif;
	font-weight: 400;
}

%font-medium {
	font-family: "Montserrat-Medium", sans-serif;
	font-weight: 500;
}

$dark-color: #112233;
$semi-dark-color: #808993;
$semi-light-color: #DADCE2;
$light-color: #F0F1F5;
$accent-color-r: #FC575E;
$accent-color-g: #66CC99;
$accent-color-b: #44BBFF;

$dist1: 50px;
$dist2: 36px;
$dist3: 25px;
$dist4: 20px;
$dist5: 15px;
$dist6: 10px;
$dist7: 5px;
$dist8: 2px;

$big-padding-val: 50px;
$padding-val: 25px;
$small-padding-val: 8px;
$border-radius-val: 2px;
$transition-val: .1s;

%btn {
	height: $dist2;
	border-radius: $border-radius-val;
	text-decoration: none;
	cursor: pointer;
	transition: $transition-val;
}

%btn-text {
	@extend %font-medium;
	font-size: 1rem;
	line-height: $dist2;
}

.ico-btn {
	@extend %btn;
	width: $dist2;
	border: 0;
	padding: $small-padding-val;
	background-color: transparent;
}

.primary-btn {
	@extend %btn;
	@extend %btn-text;
	border: 0;	
	padding: 0 $padding-val;
}

.ghost-btn {
	@extend %btn;
	@extend %btn-text;
	padding: 0 $padding-val;
	background-color: transparent;
}

.transparent-btn {
	@extend %btn;
	@extend %btn-text;
	border: 0;	
	padding: 0 $small-padding-val;
	background-color: transparent;
}

.display-none {
	display: none !important;
}

html {
   font-size: 14px;
}

body {
	background-color: $light-color;
}

header, footer {
	width: 100%;
	height: $dist1;
	background-color: $dark-color;
	display: flex;
	align-items: center;
	z-index: 999;

	div {
		height: $dist2;
	}
}

header {
	position: fixed;
	padding: 0 $padding-val;

	div {
		margin: 0 ($dist1 / 2);		
	}

	form {
		display: inline-flex;
		width: 100%;
	}

	.burger-btn-wrapper {
		.burger-btn {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			&:hover {
				background-color: rgba($light-color, .2);
			}

			hr {
				width: 100%;
				height: $dist8;
				background-color: $light-color;
				margin: 0;
				border: 0;
				border-radius: $border-radius-val;
			}
		}
	}

	.logo-wrapper {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		
		a {
			width: ($dist2 * 56px / 36px);
			img {
				height: $dist2;
				width: ($dist2 * 56px / 36px);
			}
		}
	}

	.search-wrapper {
		display: inline-flex;
		align-items: center;
		flex: 1 1 200px;
		position: relative;

		form {
			.search-field {
				@extend %font-medium;
				font-size: 1rem;
				line-height: $dist2;
				color: $dark-color;
				height: $dist2;
				width: calc(100% - $dist2);
				background-color: $semi-light-color;
				border: 0;
				border-top-left-radius: $border-radius-val;
				border-bottom-left-radius: $border-radius-val;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				padding: 0 $small-padding-val;
				display: inline-flex;

				&::placeholder {
					color: $semi-dark-color;
				}

				&:focus + .search-autocomplete-wrapper {
					display: block;
				}

				&::-webkit-search-cancel-button {
				  -webkit-appearance: none;
				  height: 1rem;
				  width: 1rem;
				  background: url('../img/cross-ico.svg');
				  background-position: center;
				  background-size: contain;
				  background-repeat: no-repeat;
				  cursor: pointer;
				}
			}

			.search-btn {
				width: $dist2;
				height: $dist2;
				background-color: $semi-light-color;
				border: 0;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				border-top-right-radius: $border-radius-val;
				border-bottom-right-radius: $border-radius-val;
				padding: $small-padding-val;
				cursor: pointer;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				transition: $transition-val;

				&:hover {
					background-color: $light-color;
				}
			}

			.search-autocomplete-wrapper {
				background-color: $dark-color;
				border-bottom-left-radius: $border-radius-val;
				border-bottom-right-radius: $border-radius-val;
				margin: 0;
				position: absolute;
				top: ($dist2 + ($dist1 - $dist2)/2);
				width: 100%;
				height: auto;
				display: none;
			
				ul {
					margin: 0;
					padding: $small-padding-val 0;

					li {
						@extend %font-medium;
						font-size: 1rem;
						line-height: 2rem;
						color: $light-color;
						padding: 0 $small-padding-val;
						transition: $transition-val;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						cursor: default;

						&:hover {
							background-color: rgba($light-color, .2);
						}

						span {
							@extend %font-regular;
							color: $semi-light-color;
						}
					}
				}
			}
		}
	}	

	.public-btns-wrapper {
		display: inline-flex;

		.pub-idea-btn {
			color: $light-color;
			background-color: rgba($accent-color-r, .5);
			margin-right: $dist6;

			&:hover {
				background-color: rgba($accent-color-r, .7);
			}
		}

		.pub-problem-btn {
			color: $light-color;
			background-color: rgba($accent-color-b, .5);

			&:hover {
				background-color: rgba($accent-color-b, .7);
			}
		}
	}

	.sign-btns-wrapper {
		display: inline-flex;

		.signin-btn {
			color: $light-color;
			margin-right: $dist6;

			&:hover {
				background-color: rgba($light-color, .2);
			}
		}

		.signup-btn {
			color: $accent-color-g;

			&:hover {
				background-color: rgba($light-color, .2);
			}
		}
	}

	.user-btns-wrapper {
		display: inline-flex;
		position: relative;

		.user-btn {
			height: $dist2;
			width: $dist2;
			background: url('../img/user-photo.svg');
			background-repeat: no-repeat;
		  background-position: center;
		  background-size: cover;
			border: $dist8 solid rgba($light-color, .5);
			border-radius: $dist2;
			margin: 0 $small-padding-val;
			text-decoration: none;
			cursor: pointer;
			transition: $transition-val;

			&:hover {
				border-color: rgba($light-color, .7);
			}
		}

		.user-messages-btn,
		.user-notifications-btn {
			margin-right: $dist4;

			&:hover {
				background-color: rgba($light-color, .2);
			}
		}

		.user-messages-btn::after,
		.user-notifications-btn::after {
			height: ($dist2 / 2);
			min-width: ($dist2 / 2);
			@extend %font-medium;
			font-size: .8rem;
			line-height: ($dist2 / 2 - $dist8 * 2);
			color: $dark-color;
			background-color: $accent-color-r;
			border: $dist8 solid $dark-color;
			border-radius: ($dist2 / 4);
			padding: 0 $dist8*2;
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: ($small-padding-val - $dist2 / 4);		
		}
		.user-messages-btn::after {
			content: '99+';			
			left: ($dist2 / 2);
		}
		.user-notifications-btn::after {
			content: '99+';			
			left: ($dist2 + $dist4 + $dist2 / 2);
		}
	}
}

.menu-wrapper {
	height: 100vh;
	padding: ($dist1 + $small-padding-val) 0;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $dark-color;
	transition: $transition-val;
	transform: translateX(-100%);
	overflow: auto;

	ul {
		li {
			a {
				@extend %font-medium;
				font-size: 1rem;
				line-height: $dist1;
				color: $light-color;
				width: 100%;
				height: $dist1;
				padding: 0 $big-padding-val;
				transition: $transition-val;
				text-decoration: none;
				display: flex;
				align-items: center;

				&:hover {
					background-color: rgba($light-color, .2);
				}

				&:focus {
					background-color: $light-color;
					color: $dark-color;
				}

				img {
					height: $dist2;
					width: $dist2;
					padding: $small-padding-val;
				}
			}
		}

		.menu-user-btn {
			a {
				.menu-user-photo {
					height: ($dist2 - $small-padding-val * 2);
					width: ($dist2 - $small-padding-val * 2);
					background: url('../img/user-photo.svg');
					background-repeat: no-repeat;
				  background-position: center;
				  background-size: cover;
					border: $dist8 solid $semi-dark-color;
					border-radius: $dist2;
					margin: 0 $small-padding-val;
				}
			}
		}
	}

	.select-wrapper {
		margin: $dist1;
		padding: 0 $small-padding-val;
		display: flex;

		// div {
		// 	position: relative;

		// 	form {
		// 		select {
		// 			border: $dist8 solid $semi-dark-color;
		// 			color: $light-color;
		// 			padding: 0 $small-padding-val;

		// 			&:hover {
		// 				border-color: rgba($light-color, .7);
		// 			}

		// 			option {
		// 				background-color: $semi-dark-color;
		// 				color: $dark-color;
		// 			}
		// 		}
		// 	}
		// }

		// .select-lang-wrapper::before, 
		// .select-currency-wrapper::before {
		// 	@extend %font-regular;
		// 	font-size: .8rem;
		// 	line-height: 1rem;
		// 	color: $semi-light-color;
		// 	height: 1rem;
		// 	background-color: $dark-color;
		// 	padding: 0 $dist7;
		// 	position: absolute;
		// 	top: -.5rem;
		// 	left: calc($dist8 + $small-padding-val - $dist7);			
		// }

		// .select-lang-wrapper {
		// 	margin-right: $dist6;

		// 	&::before {
		// 		content: 'Язык';			
		// 	}
		// }

		// .select-currency-wrapper {
		// 	&::before {
		// 		content: 'Валюта';			
		// 	}	
		// }


		.select-lang-wrapper {
			margin-right: $dist6;
		}
		.select-lang-wrapper::before {
			content: 'Язык';
		}
		.select-currency-wrapper::before {
			content: 'Валюта';
		}
		.select-lang-wrapper, 
		.select-currency-wrapper {
			position: relative;
			height: $dist2;
			background-color: transparent;
			border: $dist8 solid $semi-dark-color;
			border-radius: $border-radius-val;
			padding: 0 $small-padding-val;
			cursor: pointer;
			transition: $transition-val;

			&:hover {
				border-color: rgba($light-color, .7);
			}

			&::before {
				@extend %font-regular;
				font-size: .8rem;
				line-height: 1rem;
				color: $semi-light-color;
				height: 1rem;
				background-color: $dark-color;
				padding: 0 $dist7;
				position: absolute;
				top: calc(-.5rem - $dist8);
				left: ($small-padding-val - $dist7);
			}

			&::after {
				content: '';
				border-width: (($dist4 - $small-padding-val) / 2);
				border-style: solid;
				border-color: $semi-light-color transparent transparent;
				position: absolute;
				top: (($dist2 - $dist8 * 2) / 2 - ($dist4 - $small-padding-val) / 4);
				right: $small-padding-val;
			}

			form {
				select {
					display: none;
				}
			}

			.select-lang-value,
			.select-currency-value {
				@extend %font-medium;
				font-size: 1rem;
				line-height: ($dist2 - $dist8 * 2);
				color: $light-color;
				margin-right: $dist4;
			}

			.select-options-wrapper {
				width: 100%;
				position: absolute;
				top: ($dist2 - $dist8);
				left: 0;
				background-color: rgba($semi-dark-color, .5);
				border-radius: 0 0 $border-radius-val $border-radius-val;
				padding: $small-padding-val 0;
				cursor: default;
				display: block;

				.custom-select-options {					
					.custom-select-option {
						@extend %font-medium;
						font-size: 1rem;
						line-height: 2rem;
						color: $light-color;
						padding: 0 $small-padding-val;
						cursor: pointer;
						transition: $transition-val;

						&:hover {
							background-color: rgba($semi-dark-color, .7);
						}
					}
				}
			}
		}
	}
}
.menu-active {
	transform: translateX(0%);
}

main {
	min-height: calc(100vh - $dist1);
	width: 100%;
	padding: $dist1*2 $dist1 $dist1;
}

footer {
	padding: 0 $big-padding-val;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;

	.rules-wrapper {
		display: inline-flex;

		a {
			color: $accent-color-b;
			margin-right: $dist6;

			&:hover {
				background-color: rgba($light-color, .2);
			}
		}
	}

	.copyright-wrapper {
		display: inline-flex;

		p {
			@extend %font-regular;
			font-size: 1rem;
			line-height: $dist2;
			color: rgba($light-color, .5);
		}
	}

	.social-wrapper {
		display: inline-flex;

		a {
			margin-left: $dist6;

			&:hover {
				background-color: rgba($light-color, .2);
			}
		}
	}
}
