@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-Italic';
  src: url('../fonts/Montserrat/Montserrat-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}

%font-regular {
	font-family: "Montserrat-Regular", sans-serif;
	font-weight: 400;
}

%font-italic {
	font-family: "Montserrat-Italic", sans-serif;
	font-weight: 400;
}

%font-medium {
	font-family: "Montserrat-Medium", sans-serif;
	font-weight: 500;
}

$dark-color: #112233;
$semi-dark-color: #808993;
$semi-light-color: #DADCE2;
$light-color: #F0F1F5;
$accent-color-r: #FC575E;
$accent-color-g: #66CC99;
$accent-color-b: #44BBFF;

$dist1: 50px;
$dist2: 36px;
$dist3: 25px;
$dist4: 20px;
$dist5: 15px;
$dist6: 10px;
$dist7: 5px;
$dist8: 2px;

$big-padding-val: 50px;
$padding-val: 25px;
$small-padding-val: 10px;
$border-radius-val: 2px;
$transition-val: .2s;

.menu-btn {
	width: $dist2;
	height: $dist2;
	padding: $small-padding-val;
	background-color: transparent;
	border: 0;
	border-radius: $border-radius-val;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: $transition-val;
}

.primary-btn {
	@extend %font-medium;
	font-size: 1rem;
	line-height: $dist2;
	height: $dist2;
	border: 0;
	border-radius: $border-radius-val;
	padding: 0 $padding-val;
	text-decoration: none;
	cursor: pointer;
	transition: $transition-val;
}

.ghost-btn {
	@extend %font-medium;
	font-size: 1rem;
	line-height: $dist2 - 2*$dist8;
	height: $dist2;
	background-color: transparent;
	border-radius: $border-radius-val;
	padding: 0 $padding-val;
	text-decoration: none;
	cursor: pointer;
	transition: $transition-val;
}

.transparent-btn {
	@extend %font-medium;
	font-size: 1rem;
	line-height: $dist2;
	height: $dist2;
	background-color: transparent;
	border: 0;
	border-radius: $border-radius-val;
	padding: 0 $small-padding-val;
	text-decoration: none;
	cursor: pointer;
	transition: $transition-val;
}

html {
   font-size: 14px;
}

body {
	background-color: $light-color;
}

header, footer {
	width: 100%;
	height: $dist1;
	background-color: $dark-color;
	display: flex;
	align-items: center;

	div {
		height: $dist2;
	}
}

header {
	position: fixed;
	padding: 0 $padding-val;
	border-bottom: 1px solid rgba($light-color, .1);

	div {
		margin: 0 ($dist1 / 2);		
	}

	form {
		display: inline-flex;
		width: 100%;
	}

	.menu-btn-wrapper {
		.menu-btn {
			&:hover {
				background-color: rgba($light-color, .2);
			}

			hr {
				width: 100%;
				height: $dist8;
				background-color: $light-color;
				margin: 0;
				border: 0;
				border-radius: $border-radius-val;
			}
		}
	}

	.logo-wrapper {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		
		a {
			width: ($dist2 * 56px / 36px);
			img {
				height: $dist2;
				width: ($dist2 * 56px / 36px);
			}
		}
	}

	.search-wrapper {
		display: inline-flex;
		align-items: center;
		flex: 1 1 200px;

		.search-field {
			@extend %font-medium;
			font-size: 1rem;
			line-height: $dist2;
			color: $dark-color;
			height: $dist2;
			width: calc(100% - $dist2);
			background-color: $semi-light-color;
			border: 0;
			border-top-left-radius: $dist8;
			border-bottom-left-radius: $dist8;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			padding: 0 $small-padding-val;
			display: inline-flex;

			&::placeholder {
				color: $semi-dark-color;
			}
		}

		.search-btn {
			width: $dist2;
			height: $dist2;
			background-color: $semi-light-color;
			border: 0;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border-top-right-radius: $dist8;
			border-bottom-right-radius: $dist8;
			padding: $small-padding-val;
			cursor: pointer;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			transition: $transition-val;

			&:hover {
				background-color: $light-color;
			}
		}
	}	

	.public-btns-wrapper {
		display: inline-flex;

		.pub-idea-btn {
			color: $light-color;
			background-color: rgba($accent-color-r, .5);
			margin-right: $dist6;

			&:hover {
				background-color: rgba($accent-color-r, .7);
			}
		}

		.pub-problem-btn {
			color: $light-color;
			background-color: rgba($accent-color-b, .5);

			&:hover {
				background-color: rgba($accent-color-b, .7);
			}
		}
	}

	.sign-btns-wrapper {
		display: inline-flex;

		.signin-btn {
			color: $light-color;
			margin-right: $dist6;

			&:hover {
				background-color: rgba($light-color, .2);
			}
		}

		.signup-btn {
			color: $accent-color-g;

			&:hover {
				background-color: rgba($light-color, .2);
			}
		}
	}
}

.menu-wrapper {
	height: calc(100vh - $dist1);
	padding: $small-padding-val 0;
	position: fixed;
	top: $dist1;
	left: 0;
	background-color: $dark-color;
	transition: $transition-val;
	transform: translateX(-100%);

	ul {
		li {
			a {
				@extend %font-medium;
				font-size: 1rem;
				line-height: $dist1;
				color: $light-color;
				width: 100%;
				height: $dist1;
				padding: 0 $big-padding-val;
				transition: $transition-val;
				text-decoration: none;
				display: flex;
				align-items: center;

				&:hover {
					background-color: rgba($light-color, .2);
				}

				&:focus {
					background-color: $light-color;
					color: $dark-color;
				}

				img {
					height: $dist2;
					width: $dist2;
					padding: $small-padding-val;
				}
			}
		}
	}

	.select-wrapper {
		margin: $dist1;
		padding: 0 $small-padding-val;
		display: flex;

		div {
			position: relative;

			select {
				border: $dist8 solid $semi-dark-color;
				color: $light-color;
				padding: 0 $small-padding-val;

				&:hover {
					border-color: rgba($light-color, .7);
				}

				option {
					background-color: $semi-dark-color;
					color: $dark-color;
				}
			}
		}

		.select-lang-wrapper::before, 
		.select-currency-wrapper::before {
			@extend %font-regular;
			font-size: .8rem;
			line-height: 1rem;
			color: $semi-light-color;
			height: 1rem;
			background-color: $dark-color;
			padding: 0 .5rem;
			position: absolute;
			top: -.5rem;
			left: calc($dist8 + $small-padding-val - .5rem);			
		}

		.select-lang-wrapper {
			margin-right: $dist6;

			&::before {
				content: 'Язык';			
			}
		}

		.select-currency-wrapper {
			&::before {
				content: 'Валюта';			
			}	
		}
	}
}
.menu-active {
	transform: translateX(0%);
}

main {
	min-height: calc(100vh - $dist1);
	width: 100%;
	padding: $dist1*2 $dist1 $dist1;
}

footer {
	border-top: 1px solid rgba($light-color, .1);
	padding: 0 $big-padding-val;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 999;

	.rules-wrapper {
		display: inline-flex;

		a {
			color: $accent-color-b;
			margin-right: $dist6;

			&:hover {
				background-color: rgba($light-color, .2);
			}
		}
	}

	.copyright-wrapper {
		display: inline-flex;

		p {
			@extend %font-regular;
			font-size: 1rem;
			line-height: $dist2;
			color: rgba($light-color, .5);
		}
	}

	.social-wrapper {
		display: inline-flex;

		a {
			width: $dist2;
			height: $dist2;
			padding: $small-padding-val;
			margin-left: $dist6;
			display: inline-flex;
			justify-content: center;
			align-items: center;

			&:hover {
				background-color: rgba($light-color, .2);
			}
		}
	}
}
